body {
    font-family: "EB Garamond", Arial, serif;
}

table {
    margin: 10px auto;
    border: thin solid #333333cc;
    box-shadow: 0 0 10px #808080;
    border-collapse: collapse;
}

caption {
    padding: 10px;
    caption-side: bottom;
    color: black;
    font-size: .85rem;
}

th {
    padding: 7px 15px;
    border: 1px solid black;
}


td {
    padding: 7px 15px;
    border: 1px solid #5454544D;
}

th {
    background-color: black;
    color: white;
    font-size: larger;
}

td {
    text-align: center;
}

tbody tr:nth-child(even) {
    background-color: #edededff;
}