@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    box-sizing: border-box;
}

header {
    font-family: 'Rock Salt';
    padding: 1rem;
    text-align: center;
    background-color: #192F39;
    color: white;
}

header h1 {
    margin-bottom: 0;
}

/* navigation & menu */

nav ul {
    display: none;
    list-style-type: none;
    background-color: #192F39;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #192F39;
}

nav a:hover {
    color: #9ee493;
}

nav.open ul {
    display: flex;
    flex-direction: column;
}

#menu {
    display: block;
    background-color: #00E8FC;
    height: 50px;
    width: 100%;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

/* banner */

.banner {
    position: relative;
    top: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 10;
    background-color: #F3E8EE;
}

#close-banner {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* hero image and cards */

.hero img {
    width: 100%;
    padding: 10px;
}

.card {
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    position: relative;
    top: -20px;
}

.card:hover {
    position: relative;
    box-shadow: 5px 5px 10px #9ee493;
    top: -23px;
}

.card h2 {
    text-align: center;
    padding: 1rem;
}

.card h2 a {
    font-family: 'Rock Salt';
    text-decoration: none;
    color: black;
}

.card h2 a:hover {
    color: rgb(17, 163, 17);
}

.hero-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: -50px;
}

/* call to action */

.actionCall {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.actionCall h3 {
    font-family: 'Rock Salt';
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
}

.actionCall a {
    border-radius: 5px;
    background-color: greenyellow;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.actionCall a:hover {
    background-color: #00E8FC;
}

.actionCall img {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
}

/* summary */

.summary {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-weight: bold;
    justify-content: space-around;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
}

/* weather */

.weather {
    margin-top: 20px;
    padding: 10px;
    background-color: #F3E8EE;
}

.weather h3 {
    text-align: center;
}

.weather a p {
    text-align: center;
    font-weight: bold;
}

.weather li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather a {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather a p {
    margin: 5px 0;
}

.weather figure {
    margin: 0;
    text-align: center;
}

.weather #forecast {
    margin-top: 0;
}

/* footer */

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer .socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer .socials a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}