* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto auto auto;
    box-sizing: border-box;
}

header {
    font-family: 'Rock Salt';
    padding: 1rem;
    text-align: center;
    background-color: #192F39;
    color: white;
    display: flex;
    align-items: center;
    position: relative;
}

header h1 {
    flex-grow: 1;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* navigation & menu */

nav ul {
    display: none;
    list-style-type: none;
    background-color: #192F39;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: rgb(255, 255, 255);
    background-color: #192F39;
}

nav a:hover {
    color: #ffa836;
}

nav.open ul {
    display: flex;
    flex-direction: column;
}

#menu {
    display: block;
    background-color: transparent;
    border: none;
    color: white;
    height: 50px;
}

#menu::before {
    content: "☰";
    font-size: 1.5em;
}

#menu.open::before {
    content: "❌";
}

/* banner */

.banner {
    position: relative;
    top: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    z-index: 10;
    background-color: #ffa836;
}

#close-banner {
    background: none;
    border: none;
    font-size: 1rem;
    cursor: pointer;
}

/* hero image and cards */

.hero img {
    width: 100%;
    padding: 10px;
}

.card {
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    padding: 1rem;
    margin: 0 1rem;
    position: relative;
    top: -20px;
}

.card:hover {
    position: relative;
    box-shadow: 5px 5px 10px #ffa836;
    top: -23px;
}

.card h2 {
    text-align: center;
    padding: 1rem;
}

.card h2 a {
    font-family: 'Rock Salt';
    text-decoration: none;
    color: black;
}

.card h2 a:hover {
    border: 2px solid #ffa836;
    border-radius: 5px;
    padding: 0 10px;
    color: #ffa836;
}

.hero-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    margin-top: -50px;
}

/* welcome message */

.welcome {
    text-align: center;
    background-color: #D6CCC2;
    margin: 10px;
    padding: 20px 10px;
}

.welcome h2 {
    font-family: 'Rock Salt';
    padding: 20px;
    font-size: 2em;
}

.welcome p {
    padding: 10px 0;
    font-size: 1.2em;
    font-family: Arial, Helvetica, sans-serif;
}

/* call to action */

.actionCall {
    background-color: black;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
}

.actionCall h3 {
    font-family: 'Rock Salt';
    color: white;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 2em;
}

.actionCall a {
    border-radius: 5px;
    background-color: #ffecce;
    color: black;
    text-decoration: none;
    padding: 10px;
}

.actionCall a:hover {
    background-color: #ffa836;
}

.actionCall img {
    margin-top: 20px;
    padding: 10px;
    background-color: white;
    border-radius: 5px;
    width: 100%;
}

/* summary */

.summary {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    font-weight: bold;
    justify-content: space-evenly;
    align-items: center;
    max-width: 100%;
    box-sizing: border-box;
    padding-bottom: 50px;
}

/* weather */
.weather-contact {
    padding: 20px;
    background-color: #EDEDE9;
    text-align: center;
}

.weather-contact ul {
    list-style: none;
}

.weather-contact h3 {
    margin-bottom: 10px;
}

.weather p {
    font-weight: bold;
    margin-top: 10px;
}

.contact-home p {
    margin: 5px;
}

#weather1,
#weather2,
#phone,
#location1,
#location2 {
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    background-color: #D6CCC2;
}

/* footer */

footer {
    background-color: #192F39;
    color: white;
    text-align: center;
    padding: 1rem;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer .socials {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

footer .socials a {
    color: white;
    text-decoration: none;
    margin: 0 0.5rem;
    font-size: 1.5rem;
}

/* CONTACT PAGE */

.contact-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #EDEDE9;
}

.contact-header h2 {
    padding: 20px;
    font-family: 'Quicksand';
    font-weight: 700;
    font-size: 2em;
}

.contact-header p {
    padding: 10px;
    font-size: 1.2em;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    background-color: #EDEDE9;
    gap: 0;
    flex-direction: column;
}

.map {
    flex: 1;
    padding: 30px;
    box-sizing: border-box;
    max-width: 100%;
}

.map h3 {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: 1.5em;
    padding: 10px;
}

.container {
    flex: 1;
    max-width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

iframe {
    width: 100%;
    height: 200px;
    margin-bottom: 10px;
    border: 2px solid black;
}

#contact h3 {
    color: black;
    display: block;
    font-size: 30px;
    font-weight: 400;
    padding-top: 20px;
    font-family: 'Quicksand';
}

fieldset {
    border: none;
    padding: 5px 0;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
    width: 100%;
    border: 1px;
    background: #D6CCC2;
    border-radius: 5px;
    margin: 0 0 5px;
    padding: 10px;
}

input[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #D6CCC2;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
    border-radius: 5px;
}

input[type="submit"]:hover {
    background: #ffa836;
}

#contact textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
}

.contact-phone {
    margin-top: 20px;
    font-size: 18px;
}

.contact-phone h3 {
    font-family: 'Quicksand';
    font-size: 2rem;
    font-weight: 400;
    padding: 20px 0;
}

/* thank you page */

.thankyou {
    background-color: #A9B3A3;
    text-align: center;
    margin: 20px;
    box-sizing: border-box;
}

.thankyou-box {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.thankyou h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    padding: 50px;
}

.thankyou p {
    padding: 10px;
    width: 100%;
}

.thankyou-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.thankyou-card1,
.thankyou-card2,
.thankyou-card3 {
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    background-color: white;
    padding: 10px;
    gap: 20px;
}

/* rentals page */

.rental-table {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding-top: 20px;
}

table {
    border: thin solid #333333cc;
    box-shadow: 0 0 10px #808080;
    border-collapse: collapse;
    width: 98%;
}

th {
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.466);
    text-align: center;
}

td {
    padding: 5px;
    text-align: center;
    border-left: 1px solid rgba(0, 0, 0, 0.466);
    background-color: #E3EBFF;
}

thead tr:nth-child(odd) {
    background-color: #D6CCC2;
}

thead tr.row2 {
    background-color: #E3EBFF;
    color: black;
}

/* JSON data */

#pricingContainer {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.pricing-item {
    border: 2px solid rgba(128, 128, 128, 0.603);
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px grey;
    max-width: 335px;
    width: 100%;
    height: auto;
    display: block;
    margin: 0 auto 10px;
    background-color: #D6CCC2;
}

.pricing-item h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.pricing-item p {
    margin: 5px 0;
}

.pricing-item img {
    width: 100%;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.reservation-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    background-color: #EDEDE9;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.reservation-button:hover {
    background-color: #ffa836;
}

/* reservations page */

.reservation-header h2 {
    text-align: center;
    font-family: "Quicksand";
    font-size: 1.8rem;
    padding: 20px 0;
}

.reservation-header p {
    padding: 10px;
    text-align: center;
    font-size: 1.2rem;
}

.reservationsPage {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 10px;
}

.agreements h2 {
    padding-bottom: 5px;
}

.agreements h2,
legend {
    font-weight: bold;
    font-size: 1.8rem;
    font-family: 'Quicksand';
}

.agreements ul li {
    list-style-type: none;
    padding: 5px 0;
}

.agreements ul li::before {
    content: "🔸";
}

.reservation-form {
    display: flex;
    justify-content: center;
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #EDEDE9;
}

.agreements {
    padding: 20px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #EDEDE9;
}

.reservation {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
}

label {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="date"],
input[type="number"],
textarea {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    width: 100%;
    background-color: #D6CCC2;
}

textarea {
    resize: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 5px;
}

.rental-option,
.rental-type {
    display: inline-flex;
    align-items: center;
}

.reservation div {
    font-weight: bold;
}