@media screen and (min-width: 60em) {

    /* navigation */

    header h1 {
        position: relative;
        margin-bottom: 0;
    }

    nav ul {
        display: flex;
        justify-content: space-around;
    }

    #menu {
        display: none;
        font-size: 1.5rem;
        border: 0;
        background: none;
        color: #000;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    /* hero image and cards */

    .hero-card {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    /* call to action */

    .actionCall {
        justify-content: space-evenly;
        flex-direction: row;
        align-items: center;
    }

    .actionCall h3 {
        padding: 20px;
    }

    .actionCall img {
        margin-top: 0;
        padding: 10px;
        background-color: white;
    }

    /* summary */

    .summary {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        box-sizing: border-box;
    }

    /* weather */

    .weather-contact {
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
    }

    .weather p {
        font-weight: bold;
        margin-top: 10px;
    }

    /* contact page */

    .flex-container {
        flex-direction: row;
    }

    iframe {
        height: 300px;
        width: 70%;
    }

    .container {
        padding-left: 50px;
        width: 80%;
    }

    /* thank you page */

    .thankyou-cards {
        flex-direction: row;
    }

    .thankyou-card1,
    .thankyou-card2,
    .thankyou-card3 {
        padding: 1rem;
    }

    /* rentals page */

    th {
        font-size: 1.5em;
    }

    td {
        font-size: 1.5em;
        padding: 15px;
    }

    /* JSON data */

    #pricingContainer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        padding: 20px;
    }

    /* reservations page */

    .reservationsPage {
        flex-direction: row;
        justify-content: space-between;
    }

    .agreements,
    .reservation-form {
        flex: 1;
    }


}