* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
    grid-template-columns: 1fr auto;
}

header {
    background: #dcecff;
    color: #25291c;
    grid-column: 1 / 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin-bottom: 0;
}

main {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: minmax(min-content, 1fr);
    padding: 1rem;
    margin: 0 auto;
    grid-gap: 20px;
}


main img {
    display: block;
    width: 100%;
    /* height: auto; */
    padding-right: 3rem;
    border: 3px solid #555;
}

.card {
    margin: 0;
    background: white;
    color: black;
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    width: 100%;
}

.card h3 {
    text-align: left;
    background-color: #94b0da;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
    margin: 0;
}

.card ul {
    list-style-type: none;
    line-height: 1.8;
    padding-top: 1rem;
    padding-right: 3rem;
}

footer {
    grid-column: 1 / 3;
    background: #25291c;
    color: #dcedff;
    text-align: center;
    padding: 2rem;
    width: 100%;
}