* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto 1fr auto;
    margin: 0;
}

/* toggle button */

.b {
    display: block;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    background-color: #ddd;
    margin: 0;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05);
    z-index: 1000;
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.track {
    box-shadow: inset 0 0 0 20px #4bd863;
}

.check:checked~.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .05);
    border-radius: 40px;
}

/* header & nav */

header {
    background: #AC3931;
    padding: 2rem;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    color: white;
}

nav {
    grid-column: 1 / 3;
    background-color: #25283D;
}

nav ul {
    display: none;
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #fffffa;
}

nav a:hover {
    color: #9ee493;
}

.nav {
    display: none;
}

nav.open ul {
    display: flex;
    flex-direction: column;
}

.nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

/* body */

.home-grid {
    width: 100%;
}

#menu {
    display: block;
    height: 30px;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

main {
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

#hero-box {
    position: relative;
    margin: auto;
    grid-column: 1 / -1;
    width: 100%;
}

.hero-image {
    width: 100%;
    max-height: 550px;
    object-fit: cover;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 20px;
    height: 99%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text h2 {
    margin: 0;
    font-size: 1.2em;
    padding: 10px;
    background-color: transparent;
    color: white;
    text-align: start;
}

.text p {
    margin: 10px 0;
    font-size: 0.8em;
    max-width: 100%;
    text-align: left;
}

#hero-button {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #F1FAEE;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#hero-button:hover {
    background-color: #A8DADC;
}

h1 {
    text-align: center;
    color: black;
}

.welcome-message {
    position: relative;
    display: grid;
    grid-column: 1 / -1;
    width: 100%;
    text-align: center;
}

.welcome-message::after {
    content: "";
    display: block;
    width: 50%;
    height: 1px;
    background-color: #ddd;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.welcome-message h2 {
    padding-bottom: 10px;
    text-align: center;
}

.card {
    margin: 0;
    background: white;
    color: black;
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    width: 100%;
    grid-column: 1;
    font-size: 0.8em;
}

.card h3 {
    text-align: center;
    background-color: #AC3931;
    color: white;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
}

.card ul {
    list-style-type: none;
    line-height: 1.8;
    padding: 1rem;
}

iframe {
    width: 100%;
    height: 400px;
    border: 0px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 10px;
}

.map {
    grid-column: 1/-1;
}

#member-box {
    grid-column: 1/-1;
    text-align: center;
    background-color: #25283D;
    color: white;
    padding: 50px;
}

#member-box p {
    padding-top: 10px;
    padding-bottom: 10px;
}

#member {
    padding: 10px 20px;
    font-size: 1em;
    background-color: #F1FAEE;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#member:hover {
    background-color: #A8DADC;
    color: black;
}

.info-box {
    grid-column: 1/-1;
    text-align: center;
    padding: 30px;
    box-shadow: 5px 5px 10px grey;
}

.info-box h2 {
    padding-bottom: 10px;
}

/* footer */

footer {
    background: #25283D;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: #daf7dc;
}

/* toggle button */

.b {
    display: block;
}

.toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 50px;
    height: 30px;
    border-radius: 100px;
    background-color: #ddd;
    margin: 0;
    overflow: hidden;
    box-shadow: inset 0 0 2px 1px rgba(0, 0, 0, .05);
    z-index: 1000;
}

.check {
    position: absolute;
    display: block;
    cursor: pointer;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 6;
}

.check:checked~.track {
    box-shadow: inset 0 0 0 20px #4bd863;
}

.check:checked~.switch {
    right: 2px;
    left: 22px;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: .05s, 0s;
}

.switch {
    position: absolute;
    left: 2px;
    top: 2px;
    bottom: 2px;
    right: 22px;
    background-color: #fff;
    border-radius: 36px;
    z-index: 1;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-property: left, right;
    transition-delay: 0s, .05s;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
}

.track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    transition: .35s cubic-bezier(0.785, 0.135, 0.150, 0.860);
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, .05);
    border-radius: 40px;
}