* {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto auto auto 1fr auto;
}

header {
    background: #86bbd8;
    padding: 2rem;
    grid-column: 1 / 3;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    display: block;
    width: 100px;
    height: 110px;
    margin-right: 1rem;
}

h1 {
    text-align: center;
    color: black;
}

nav {
    grid-column: 1 / 3;
    background-color: #2f4858;
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    color: #fffffa;
}

nav a:hover {
    color: #9ee493;
}


.nav {
    display: flex;
    flex-direction: column;
    list-style: none;
    background-color: #333;
    color: #fff;
}

.nav a {
    display: none;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;
}

#menu {
    display: none;
    font-size: 1.5rem;
    border: 0;
    background: none;
    color: #000;
    position: absolute;
    right: 1rem;
    top: 1rem;
}

#menu::before {
    content: "☰";
}

#menu.open::before {
    content: "❌";
}

main {
    background: white;
    height: 100%;
    width: 95%;
    padding: 1rem;
    margin: 0 auto;
    grid-template-columns: 1fr 1fr;
}

h2 {
    text-align: center;
    grid-column: 1/-1;
    background-color: #fcfffd;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.card {
    margin: 0;
    background: white;
    color: black;
    border-radius: 5px;
    border: 5px transparent;
    box-shadow: 5px 5px 10px grey;
    width: 100%;
}

.card h3 {
    text-align: center;
    background-color: #86bbd8;
    color: black;
    border-radius: 5px 5px 0 0;
    padding: 1rem;
}

.card ul {
    list-style-type: none;
    line-height: 1.8;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.map {
    grid-column: span 2;
    margin-left: 60px;
    margin-right: 60px;
    margin-bottom: 10px;
}

footer {
    background: #2f4858;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 3;
    color: #daf7dc
}